[run]
branch = True
source = onelearn
include = */onelearn/*

[report]
omit =
    examples/*
    onelearn/playground*
    onelearn/datasets*
    onelearn/checks.py

exclude_lines =
    if verbose
    self._using_numba = True
